.bookingForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bookingForm img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.formStep {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(100%, 650px);
    margin: 0 auto;
}

.formStep h2 {
    text-transform: uppercase;
    color: var(--secondary-clr);
    text-align: center;
}

.formActions {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.backBtn {
    background-color: #ccc;
    color: white;
    border: none;
    width: 100px;
    font-family: var(--ff-body);
    padding: .5rem 0;
}

.nextBtn {
    background-color: var(--primary-clr);
    color: white;
    border: none;
    width: 100px;
    font-family: var(--ff-body);
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewReservation {
    width: min(100%, 650px);
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.reviewReservation p {
    margin: 0;
}

.reviewReservation h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.success {
    width: 100%;
    padding: 1rem;
    background-color: rgb(117, 204, 117);
}

.success p {
    margin: 0;
    color: white;
    text-align: center;
}