.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    gap: 2rem;
}

.maintenance img {
    width: clamp(18.75rem, 14.107rem + 19.048vw, 31.25rem);
    height: auto;
}

.maintenance h1 {
    font-family: var(--ff-heading);
    font-size: clamp(1.875rem, 3vw, 2.25rem);
    color: var(--secondary-clr);
    text-align: center;
}